<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Secure Login Page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    
</head>
<body>
	<div th:replace="fragments/header :: navbar"></div>
    <h1>Secure Login</h1>
    <form action="/login-secure" method="post">
        Username: <input type="text" name="username"/><br/>
        Password: <input type="password" name="password"/><br/>
        <button type="submit">Login</button>
    </form>
</body>
</html>
