<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>XSS Vulnerable</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    
</head>
<body>
	<div th:replace="fragments/header :: navbar"></div>
    <h1>Reflected XSS - Vulnerable</h1>
    <form method="get" action="/xss-vuln">
        <label>Enter something:</label>
        <input type="text" name="input"/>
        <button type="submit">Submit</button>
    </form>
    <p>Output: <span th:utext="${input}"></span></p> <!-- ⚠️ Unescaped -->
</body>
</html>
